@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .s-2 {
    flex-direction: column;
    align-items: center;
  }

  .titles {
    width: 60%;
    margin-bottom: 40px;
    text-align: center;
  }

  .titles > h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .cards {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .burgerbar {
    cursor: pointer;
    display: block;
    font-size: 40px;
    color: gray;
  }

  .nav {
    display: none;
  }

  .titles {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .card {
    width: 250px;
  }
}
