/* font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif; */
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  display: flex;
}
.nav-ul > li:not(:last-child) {
  margin-right: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.logo {
  width: 135px;
  margin-top: 30px;
}
.navigation {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.navbar {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #303134;
  text-transform: uppercase;
}
.burgerbar {
  display: none;
}
/* section */

.section-1 {
  background-image: url("../image/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 570px;
  position: relative;
  margin-bottom: 80px;
}
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-title {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 50px;
}
.text-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
.cards {
  max-width: 870px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  margin-bottom: 20px;
}

.card-head > img {
  width: 100%;
}
/* .s-2 {
  display: flex;
  justify-content: space-between;
}
.titles {
  width: 240px;
}

.section-2-title {
  font-family: "Inter", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.section-2-title-2 {
  color: #1a1a1b;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  margin-bottom: 50px;
}
.section-2-text {
  color: #8d8d8d;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-right: 50px;
  line-height: 1.8;
}
.cards {
  max-width: 870px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.left-card-img-1 {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 25px;
}
.left-card-title-1 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1b;
  margin-bottom: 20px;
}
.left-card-text-1 {
  font-family: "Raleway", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  width: 268px;
  line-height: 1.8;
}
.middle-card-img-1 {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 25px;
}
.middle-card-title-1 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1b;
  margin-bottom: 20px;
}
.middle-card-text-1 {
  font-family: "Raleway", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  width: 268px;
  line-height: 1.8;
}
.right-card-img-1 {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 25px;
}
.right-card-title-1 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1b;
  margin-bottom: 20px;
}
.right-card-text-1 {
  font-family: "Raleway", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  width: 268px;
  line-height: 1.8;
}
.left-card-img-2 {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 25px;
}
.left-card-title-2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1b;
  margin-bottom: 20px;
}
.left-card-text-2 {
  font-family: "Raleway", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  width: 268px;
  line-height: 1.8;
}
.middle-card-img-2 {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 25px;
}
.middle-card-title-2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1b;
  margin-bottom: 20px;
}
.middle-card-text-2 {
  font-family: "Raleway", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  width: 268px;
  line-height: 1.8;
}
.right-card-img-2 {
  width: 268;
  margin-bottom: 20px;
  margin-right: 25px;
}
.right-card-title-2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1b;
  margin-bottom: 20px;
}
.right-card-text-2 {
  font-family: "Raleway", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  width: 268px;
  line-height: 1.8;
} */
